body{
    color: rgb(54, 26, 54);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 1200px;
    color: rgb(206, 13, 13);
    font-family: 'Tangerine', cursive;
    font-style: bold;
   
}
.container{
    text-align: center;
}
.birthday-image{
    width: 1000px;
    text-align: center;
}
.container h1{
    font-size: 58px;
}
.container h2{
    font-size: 46px;
}
.first-div{
    padding-left: 100px;
    padding-top: 60px;
    position: relative;
   
}
.baloon-img{
    position: absolute;
    left: 0px;
    width: 80px;
    height: 150px;
    animation: imgzoom 3.5s ease infinite;
}
.baloon-img2{
    position: absolute;
    right: 0px;
    width: 80px;
    height: 150px;
    animation: imgzoom 3.5s ease infinite;
}

@keyframes imgzoom{
    from{transform: scale(1) rotate(odeg);}
    to{transform: scale(1.1) rotate(15deg);}
}
@keyframes imgzoom{
    0%{ transform: scale(1) rotate(odeg);}
    50%{transform: scale(1.1) rotate(15deg);}
    100%{transform: scale(1) rotate(0deg);}
}
.first-div .date-time{
    font-size: 24px;
}
.first-div .heading{
    animation-duration: 10s;
}
.date-time:hover{
    font-size: 44px;
    transition:  0.5s ease-in-out;
    cursor: grab;
}